<!--
  Generated template for the BrowsePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>browse</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>
    <br>
    <h3>{{info}}</h3>
    <div *ngFor="let item of info">

        <div *ngIf="item.isDirectory" (click)="goDown(item)">
          Directory: {{item.name}}
        </div>
    
        <div *ngIf="item.isFile">
          File: {{item.name}}
        </div>
    
      </div>
    <!--button ion-button (click)="click()">button</button-->

</ion-content>
